# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\self-learning\spring_cloud\spring_cloud_learning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
